<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тренировки дома</title>
    <script src="../js/easytimer.min.js"></script>
    <script src="../js/ejs.min.js"></script>
    <script src="../js/data.js"></script>
    <script src="../js/render-template.js"></script>
    <link rel="stylesheet" href="../styles/index.css">
</head>

<body>
    <script id="template" type="text/template">
        <h1><%= pullups[1].name %></h1>  
    </script>

    <main id="content"></main>

    <div id="timer"></div>

    <button id="fin">Готово</button>

    <a id="next" href="1-squats.html">Дальше</a>

    <script src="../js/countdown.js"></script>
</body>

</html>