<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тренировки дома</title>
    <!-- Подключаем шаблонизатор -->
    <script src="../js/ejs.min.js"></script>
    <!-- Подключаем файл с данными -->
    <script src="../js/data.js"></script>
    <!-- Подключаем скрипт, который совмещает шаблонизатор и данные -->
    <script src="../js/render-template.js"></script>
    <link rel="stylesheet" href="../styles/index.css">
</head>

<body>
    <script id="template" type="text/template">
        <%
            // sets — массив со всеми упражнениями из текущего сета,
            // находится в data.js
            // Берем из массива текущий сет при помощи записанной
            // в память браузера информации в setCount
            // Так как массивы считаются от 0, то отнимаем от счетчика сета 1
            let set = sets[Number(localStorage.getItem('setCount')) - 1];
            // Номер текущего упражнения в сете: 0 или 1 
            let setExercise = Number(localStorage.getItem('setExercise'));
            // Кол-во выполненых упражнений первого и второго типа
            let setExCount1 = Number(localStorage.getItem('setExCount1'));
            let setExCount2 = Number(localStorage.getItem('setExCount2'));
            // Берем меньшее кол-во выполненых упражнений, как текущее
            let setCount = setExCount1 <= setExCount2 ? setExCount1 : setExCount2;
            // Получаем уровень сложности из данных о пользователе
            // Переменная user находится в data.js
            let level = user[set[setExercise][0].group].level;
            // Получаем текущее упражнение
            let exercise = set[setExercise][level];
        %>
        <div class="wrapper">
            <!-- Разбиваем название на две части, для дизайна -->
            <h1>
                <!-- Документация: https://learn.javascript.ru/array-methods -->
                <%= exercise.name.split(' ')[0] %>
                <br />
                <!-- Документация: https://learn.javascript.ru/string -->
                <%= exercise.name.substring(exercise.name.indexOf(' ') + 1) %>
            </h1>
            <h2>
                <span><%= user[exercise.group].qty %> повторений</span>
                <span><%= setCount %> подход из 3</span>
            </h2>
            <!-- Если есть советы, то показываем их -->
            <% if (advice[exercise.group]) { %>
                <div class="info">
                    <ul>
                        <!-- Документация: https://learn.javascript.ru/arrow-functions -->
                        <% advice[exercise.group].forEach(i => {%>
                            <li><%= i %></li>
                        <% }) %>
                    </ul>
                    <a class="" href=""></a>
                </div>
            <% } %>
        </div>
        <a class="btn" id="next" href="rest.html">Дальше</a>
    </script>

    <div class="content" id="content"></div>
    
    <div id="canvas"></div>
    <script src="../js/p5.min.js"></script>
    <script src="../js/sketch.js"></script>
</body>

</html>