@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

* {
    box-sizing: border-box;
    user-select: none;
}

#bar {
    width: 200vw;
    transition: 1000ms all linear;
}

#timer {
    position: absolute;
    margin: auto;
    font-size: 30vw;
    font-weight: 900;
    -webkit-text-stroke: 1.5px red;
    -webkit-text-fill-color: white;
    z-index: 10;
}

body {
    font-family: Roboto, sans-serif;
    overflow: hidden;
}

body.is-flexible {
    overflow: auto;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    min-height: 100vh;
    padding: 24px 56px 40px 32px;
    position: relative;
}

.content.is-index {
    display: block;
}

h1 {
    font-weight: 900;
    font-size: 88px;
    line-height: 1.1;
    letter-spacing: 5px;
    text-transform: uppercase;
    -webkit-text-stroke: 1.5px black;
    -webkit-text-fill-color: white;
    padding-bottom: 40px;
    padding-top: 16px;
}

.is-right {
    position: absolute;
    right: 32px;
}

.is-bottom {
    position: absolute;
    bottom: 0;
}

h2 {
    font-size: 30px;
    line-height: 1.2;
    padding-bottom: 48px;
    font-weight: 500;
}

h2 span:last-child {
    padding-left: 48px;
}

h2 a {
    color: inherit;
}

h2 a:hover {
    color: red;
}

h3 {
    font-size: 22px;
    line-height: 1.4;
    padding-bottom: 16px;
    font-weight: 500;
}

p {
    padding-bottom: 24px;
    font-weight: 300;
    font-size: 22px;
    line-height: 1.4;
}

ul {
    list-style: circle inside;
    padding-left: 8px;
    font-size: 24px;
    font-weight: 300;
}

li {
    line-height: 1.4;
    padding-bottom: 16px;
}

.btn {
    font-weight: bold;
    font-size: 28px;
    line-height: 1;
    letter-spacing: 1px;
    text-transform: uppercase;

    padding: 16px 24px;
    color: #000000;
    border: 1px solid black;
    border-radius: 42px;
    text-decoration: none;
    position: fixed;
    bottom: 40px;
    left: 32px;
    background: white;
    cursor: default;
}

.btn.is-right {
    left: unset;
    right: 56px;
}

.btn:hover {
    color: red;
    border: 1px solid red; 
}

.info {
    border: 1px solid #000000;
    padding: 24px 96px 24px 16px;
    display: inline-flex;
    flex-flow: column;
    background: white;
    box-shadow: 16px 16px rgba(0, 0, 0, 0.1);
    max-width: 960px;
    overflow: scroll;
}

.progress-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

#canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}